{% extends  'base.html' %}
{% load static %}
{% block content %}
    <!-- inner banner -->
    <div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
                <a href="index.html" class="m-0">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- about-->
    <section class="single_grid_w3_main align-w3">
        <div class="container">
            <div class="row pt-lg-4">
                <div class="col-lg-5">
                    <div class="wthree_pvt_title  mb-3">
                        <h4 class="w3pvt-title">About Total Gadget
                        </h4>
                        <span class="sub-title">What do we do?</span>
                    </div>
                    <div class="single_grid_text pt-lg-3">
                        <p>This is the website where latest gadget's specifications and reviews are updated daily.</p>
                        <p class="my-2">You can post ask us any kind of gadget for review. We are here to serve you anytime. Be gadgetted.</p>
                        <p>Gadget in the hand is the future in hand. </p>
                        <a class="btn bg-theme mt-4 wthree-link-bnr" href="/contacts/">Contact Us
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-4">
                    <div class="slide-img">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
{% endblock %}