{% extends  'base.html' %}
{% load static %}
{% block content %}
<!-- inner banner -->
    <div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
                <a href="index.html" class="m-0">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- contact -->
    <section class="contact-wthree align-w3" id="contact">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">contact us
                </h4>
                <p class="sub-title">We review everything.</p>
            </div>
            <div class="wthree_pvt_title text-center">
                    <h2>
                        <a href="../">
                            Total Gadget Review
                        </a>
                    </h2>
            </div>

            <div class="row">
                <div class="col-lg-4 text-center">
                    <h5 class="cont-form">Our Location</h5>
                        <div class="contact-w3">
                            <span class="fa fa-home mb-3"></span>
                            <address> Kathmandu, <br> Bagmati; <br> Dillibazar, Mahakabi Marg</address>
                        </div>
                </div>
                <div class="col-lg-4 text-center">
                    <h5 class="cont-form">Our Mails</h5>
                        <div class="contact-w3 my-4">
                            <span class="fa fa-envelope-open  mb-3"></span>
                            <div class="d-flex flex-column">
                                <a href="mailto:hrizexshahi@gmail.com" class="d-block">HRIZEXSHAHI@gmail.com</a>
                                <a href="mailto:maxwolfhrizex@gmail.com" class="my-2 d-block">MAXWOLFHRIZEX@gmail.com</a>
                                <a href="mailto:rizex@yahoo.com">RIZEX@yahoo.com</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 text-center">
                    <h5 class="cont-form">Our Phones</h5>
                        <div class="contact-w3 my-4">
                            <span class="fa fa-phone mb-3"></span>
                            <div class="d-flex flex-column">
                                <p>+977 011440099</p>
                                <p class="my-1">+977 9818189349</p>
                                <p>+977 9860605774</p>
                            </div>
                        </div>
                </div>
            </div>
            <br/><br/><br/><br/>
            <div class="wthree_pvt_title text-center">
                    <h2>
                        <a href="../">
                            Total Gadget Review
                        </a>
                    </h2>
            </div>
        </div>
    </section>
    <!-- //contact -->

{% endblock %}